@page
@model Garage_Management_System.Pages.GalleryModel
@{
    ViewData["Title"] = "Gallery";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HC GARAGE</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Garage_Management_System.styles.css" asp-append-version="true" />
</head>
<body>
<div class="container mt-4">
    <h2 class="text-center mb-5">Gallery</h2>
    <div class="row">
        <div class="col-md-4 mb-4">
            <div class="gallery-item">
                <img src="~/images/12.jpg" class="img-fluid" alt="Gallery Image 2">
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="gallery-item">
                <img src="~/images/13.jpg" class="img-fluid" alt="Gallery Image 2">
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="gallery-item">
                <img src="~/images/14.jpg" class="img-fluid" alt="Gallery Image 2">
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="gallery-item">
                <img src="~/images/15.jpg" class="img-fluid" alt="Gallery Image 2">
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="gallery-item">
                <img src="~/images/16.jpg" class="img-fluid" alt="Gallery Image 2">
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="gallery-item">
                <img src="~/images/17.jpg" class="img-fluid" alt="Gallery Image 2">
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="gallery-item">
                <img src="~/images/18.jpg" class="img-fluid" alt="Gallery Image 2">
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="gallery-item">
                <img src="~/images/19.jpg" class="img-fluid" alt="Gallery Image 2">
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="gallery-item">
                <img src="~/images/20.jpg" class="img-fluid" alt="Gallery Image 2">
            </div>
        </div>
    </div>

</div>
</body>
</html>
